{% from "macros/breadcrumbs.html" import breadcrumbs_macro with context %}
{% from "macros/common_head.html" import common_head_macro with context %}
{% from "macros/header.html" import header_macro with context %}
<html>
  <head>
    <title>Tierkreis visualization: node</title>
      {{ common_head_macro() }}
  </head>
  <body>
    {{ header_macro() }}
    <main>
      {{ breadcrumbs_macro(breadcrumbs) }}

      <script>
        function openLink(path) {
          console.log(`${window.location.href}/${path}`);
          window.open(`${window.location.href}/${path}`, (target = "_blank"));
        }
      </script>
      <h1 style="font-size: 1.75rem;
    font-weight: 500;">{{ definition.function_name }}</h1>

      <ul>
        <li>
          <span  style="color: var(--neutral-600);
    margin: 0.5rem 0;
    margin-top: 1.25rem;
    display: block;
    font-size: 1.125rem;">Inputs</span>

              <ul>
              {% for input,path in definition.inputs.items() %}
              <li>
                <span class="divLink" onclick="openLink('inputs/{{ input }}')"
                  >{{ input }}</span
                >
                ({{ path }})
              </li>
              {% endfor %}
          </ul>
        </li>

        <li>
          <span style="color: var(--neutral-600);
    margin: 0.5rem 0;
    margin-top: 1.25rem;
    display: block;
    font-size: 1.125rem;">Outputs</span>
          <ul>
            {% for output,path in definition.outputs.items() %}
            <li>
              <span class="divLink" onclick="openLink('outputs/{{ output }}')"
                >{{ output }}</span
              >
              ({{ path }})
            </li>
            {% endfor %}
          </ul>
        </li>
        <li><span class="divLink" onclick="openLink('logs')">logs</span></li>
      </ul>
    </main>
  </body>
</html>
