
**/target
**/.git
**/.venv
**/venv
**/.vscode
**/.pytest-cache
**/.mypy-cache
**/__pycache__
**/.direnv
**/.DS_Store
**/Thumbs.db

**/.ruff_cache
**/build
**/tests
**/Dockerfile
.env
cqcpython-secret.txt