{% from "macros/breadcrumbs.html" import breadcrumbs_macro with context %}
{% from "macros/head.html" import head_macro with context %}


<html>
<head>
  {{ head_macro() }}
  <title>Tierkreis visualization: LOOP node</title>
  <script src="/static/vis-network.min.js"></script>
  <script src="/static/utils.js"></script>
  <script src="/static/network.js"></script>
  <script src="/static/eventstream.js"></script>

</head>

<body>
  <div id="mynetwork"></div>

  <script type="text/javascript">

    let [network, nodes, edges] = createNetwork({{ nodes|safe }}, {{ edges|safe }}, "L");
    connectToStream("{{ url|safe }}", nodes, edges);
  </script>
</body>

</html>
