name: PR against main

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  lint:
    uses: ./.github/workflows/run_check_matrix.yml
    with:
      command_name: lint
      command: just lint

  test:
    uses: ./.github/workflows/run_check_matrix.yml
    with:
      command_name: test
      command: just test

  test-workers:
    uses: ./.github/workflows/run_check_matrix.yml
    with:
      command_name: test-workers
      command: just test-workers

  examples:
    uses: ./.github/workflows/run_check_matrix.yml
    with:
      command_name: examples
      command: just examples

  docs:
    uses: ./.github/workflows/run_check_matrix.yml
    with:
      command_name: docs
      command: just docs

  check-stubs:
    uses: ./.github/workflows/run_check_matrix.yml
    with:
      command_name: check-stubs
      command: just check-stubs
