{% macro breadcrumbs_macro(links) -%}

    <div style="display:flex;align-items:center;gap:0.5rem;margin-bottom:1rem;">
    <a href="/">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#999" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-folder-icon lucide-folder"><path d="M20 20a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.9a2 2 0 0 1-1.69-.9L9.6 3.9A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2Z"/></svg>
    </a>
    {% for link in links %}
       <a class="badge" href="{{ link[1] }}">{{ link[0] }}</a>
    {% endfor %}
    </div>
{%- endmacro %}
