{% macro json_editor_macro(jsgraph_string) -%}
    <form method="POST" action="/custom" onsubmit="updateGraph(event)">
        <textarea name="jsgraph_string" placeholder="No graph loaded."  style="height:calc(100% - 2.5rem);min-width:25rem;border:none;border:1px solid var(--neutral-200);border-radius:0.5rem;padding:0.5rem;">
        </textarea>
        <button type="submit" class="button" style="width:100%;margin-top:0.5rem;">Update Graph</button>
        <script>
            function updateGraph(event) {
                event.preventDefault();
                const formData = new FormData(event.target);
                const jsgraph_string = formData.get('jsgraph_string');
                console.log(jsgraph_string)
                fetch('/custom', {method: 'POST', body: JSON.stringify({jsgraph_string})})
            }
        </script>
    </form>
{%- endmacro %}
